.Application {
  .Application--grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem 1rem;
    grid-template-areas:
      '. . .'
      '. . .';
  }
  .Application--row {
    display: flex;
    flex-direction: row;
  }
}
